*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(249, 249, 220);
    height: 100px;
}

.logo-container .logo {
    width: 190px;
    height: 100px;
    cursor: pointer;    
}

.nav-container ul {
    list-style-type: none; /* Ensure bullets are shown */
    display: flex;
    gap: 30px;
}

.nav-container li {
    cursor: pointer;
    font-size: 17px;
}

.body{
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items:left;
    height: 70vh;
    gap: 10px;
    overflow: 0 auto; 
}


.res-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 45px;
    column-gap: 30px;
}

.res-cards{
    width: 300px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding: 4px;
    border-radius: 10px;
    gap: 5px;
    /* background-color: rgb(247, 247, 208); */
}
.res-cards:hover{
    transform: scale(1.01);
    transition: all 0.1s;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.res-logo{
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h5{
    font-weight: 300;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.res-card-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
/* apply same for res-card-left and res-card-right in same block together*/
.res-card-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 2px;
    align-items: start;
}   
.res-card-right{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 2px;
    align-items: end;
}

.filter{
    display: flex;
    justify-content: end;
    padding: 1px;
    padding-right: 15px;
}

.filter-btn,
.login-btn{
    padding: 9px;
    background-color: rgb(248, 146, 103);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgb(226, 199, 137);
    cursor: pointer;
}
.login-btn{
    background-color: rgb(97, 216, 76);
    width: 60px;
}


.clear-filter{
    margin-left: 10px;
    padding: 8px;
    background-color: rgb(248, 244, 244);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgb(248, 105, 105);
    cursor: pointer;
}

/* for shimmer ui */
.shimmer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    /* padding: 20px; */
}
.shimmer-body-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 45px;
    column-gap: 30px;
    
    margin-top: 20px;
}

.shim-card{
    width: 290px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(223, 222, 222);
    opacity: 0.5;
    gap: 5px;
}

.subHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 17px;
    /* background-color: rgb(248, 248, 174); */
    border-radius: 30px;
    height: 50px;
}

.subHeading-shimmer{
    width: 83%;
    height: 45px;
    border-radius: 10px;
    grid-template-columns: repeat(1,1fr);
    background-color: rgb(237, 233, 233);
    border-radius: 30px;
}


.restaurant-menu{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    margin: 30px 20%;
    padding: 30px;
    /* border: 1px solid black; */
}

.menu-header{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(228, 221, 221);
    padding: 20px;
    margin: 20px 0px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px 5px rgba(84, 82, 82, 0.2);
    gap: 7px;

}

.menu-header-heading{
    display: flex;
    gap: 15px;

}

.cuisines{
    color: rgb(255, 98, 0);
    font-style:bold;
    font-size: 15px;
    text-decoration: underline;
    font-weight: 700;
}

.Outlet,.del-time{
    font-size: 15px;
    font-weight: 700;
}


/* summary style */

summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    /* font-weight: bold; */
    height: 50px;
    cursor: pointer;
    font-weight: 900;
  }
  
  summary::after {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 10px solid #15171b;
    border-inline: 7px solid transparent;
    transition: 0.2s;
  }
  
  details[open] > summary {border-bottom: 2px solid #fff9f1;}
  
  details[open] > summary::after {
    transform: rotate(-180deg);
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary {
    color: #30353b;
    border-radius: 5px;
    
  }
  
  details[open] summary {border-radius: 5px 5px 0 0;}
  
  details {
    background: #fffcf0;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  .itemCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    font-weight: 600;
    height: 50px;
    cursor: pointer;
    border-bottom: 1px solid rgb(228, 226, 221);
  }

  .resCardLink{
    text-decoration: none;
    color: black;
  }