*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(249, 249, 220);
    height: 100px;
}

.logo-container .logo {
    width: 190px;
    height: 100px;
    cursor: pointer;    
}

.nav-container ul {
    list-style-type: none; /* Ensure bullets are shown */
    display: flex;
    gap: 30px;
}

.nav-container li {
    cursor: pointer;
    font-size: 17px;
}

.body{
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items:left;
    height: 70vh;
    gap: 10px;
    overflow: 0 auto; 
}


.res-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 45px;
    column-gap: 30px;
}

.res-cards{
    width: 300px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding: 4px;
    border-radius: 10px;
    gap: 5px;
    /* background-color: rgb(247, 247, 208); */
}
.res-cards:hover{
    transform: scale(1.01);
    transition: all 0.1s;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.res-logo{
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h5{
    font-weight: 300;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.res-card-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
/* apply same for res-card-left and res-card-right in same block together*/
.res-card-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 2px;
    align-items: start;
}   
.res-card-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 2px;
    align-items: end;
}

.filter{
    display: flex;
    justify-content: end;
    padding: 1px;
    padding-right: 15px;
}

.filter-btn{
    padding: 9px;
    background-color: rgb(248, 146, 103);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgb(226, 199, 137);
    cursor: pointer;
}
.clear-filter{
    margin-left: 10px;
    padding: 8px;
    background-color: rgb(248, 244, 244);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgb(248, 105, 105);
    cursor: pointer;
}

/* for shimmer ui */

.shimmer-container{
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 45px;
    column-gap: 30px;
    
}

.shim-card{
    width: 250px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(223, 222, 222);
    opacity: 0.5;
    gap: 5px;
}